{% extends "_base.html" %}

{% block content %}

    <div class="container">
        <div class="row-fluid">
            <div class="span8">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3329.9618099755094!2d-111.92805299999996!3d33.424240000000005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x872b08db3b33540f%3A0x666e717f473c3033!2sArizona+State+University%2C+Tempe+Campus!5e0!3m2!1sen!2sus!4v1415741893687" width="750" height="450" frameborder="0" style="border:0"></iframe>
            </div>

            <div class="span4">
                <h2>Arun Scaria</h2>
                <address>
                    <strong>Fall 2014 CSE 360</strong><br>
                    Arizona State University<br>
                    Tempe<br>
                    AZ<br>
                    USA<br>
                    85281<br>
                    <abbr title="Phone">P:</abbr> +1-xxx-xxxx
                    <br/>
                    <abbr title="Link">Link: <a href="http://github.com/scaria">Github</a>
                </address>
            </div>
        </div>
    </div>

{% endblock %}