{% extends "_base.html" %}

{% block content %}

<div id="login-overlay" class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title" id="myModalLabel">Welcome to your ImageSpace</h3>
        </div>
        <div class="modal-body">
            <div class="row">


                <div class="span6">
                    <div class="well">


                        <form action="login" method="post">
                            {% csrf_token %}
                            {{ login_form }}
                            <input type="submit" value="Submit"/>
                        </form>

                    </div>
                </div>
                 <div class="">
                    <div class="well">


                        <form action="register" method="post">
                            {% csrf_token %}
                            {{ registration_form }}
                            <input type="submit" value="Submit"/>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


        <div class="container" id="cnt1">
        <div class="row feature">
            <div class="span3 offset1">
                <div>
                    <img src="http://lorempixel.com/200/200/city/1/" alt="Texto Alternativo" class="img-circle img-thumbnail">
                    <h3>Click moments</h3>

                </div>
            </div>

            <div class="span3">
                <div>
                    <img src="http://lorempixel.com/200/200/city/2/" alt="Texto Alternativo" class="img-circle img-thumbnail">
                    <h3>Edit to perfection</h3>
                </div>
            </div>

            <div class="span3">
                <div>
                    <img src="http://lorempixel.com/200/200/city/3/" alt="Texto Alternativo" class="img-circle img-thumbnail">
                    <h3>Save memories</h3>
                </div>
            </div>
        </div>
    </div>


{% endblock %}