{% extends "_base.html" %}

{% block content %}


        <div class="container">
            <div class="row">
               <h3>Settings </h3><h4> {{ user.first_name }} {{ user.second_name }}</h4>
                <br/>
            </div>

            <div class="row">
                <div class="span3">
                    {% if  settings %}
                    <img src="{{ MEDIA_URL }}profile_pics/{{ settings.profile_pic }}" class="img-circle" width="200" height="200">
                    {% else %}
                    <img src="{{ STATIC_URL }}css/profile_pic.png" class="img-circle" width="200" height="200">
                    {% endif %}
                </div>
                <div class="span3">
                    <h6>Upload new image</h6>
                    <form enctype="multipart/form-data" action="" method="post">
                            {% csrf_token %}
                            {{ form }}
                            <br/>
                            <br/>
                            <input class="pull-right" type="submit" value="Submit"/>
                        </form>

                </div>
            </div>
        </div>

{% endblock %}