django==1.7.1
psycopg2==2.5.4
bcrypt==1.0.2
pillow==2.6.1
django-admin-bootstrapped==2.1.0
django-bootstrap-toolkit==2.15.0
django-bootstrap3==4.11.0
django-extensions==1.4.6
django-toolbelt==0.0.1
whitenoise==1.0.3
Werkzeug==0.9.6
gunicorn==19.1.1
coverage==3.7.1
selenium==2.44.0
django-nose==1.2

