.foot-fixed-bottom {
 bottom: 0;
 display: block;
 left: 0;
 margin-bottom: 0;
 position: fixed;
 right: 0;
 z-index: 1030;
}
.foot-fixed-bottom .container {
 background-color: rgb(254, 254, 254);
 margin-left: auto;
 margin-right: auto;
 padding-bottom: 2px;
}
.foot-fixed-bottom hr {
 border-image: none;
 border-style: solid none;
 border-width: 1px 0;
 margin: 0 0 5px;
 width: 100%;
}
.foot-fixed-bottom p {
 font-size: 14px;
 margin: 0 12px 15px;
}


 [class*="span"] {
    margin-left: 10px;
  }